{% extends 'dashboard.html' %}
{% block content %}
    <div class="row">
        <div class="col-6">
            <!-- general form elements -->
            <div class="card card-warning">
                <div class="card-header">
                    <h3 class="card-title">Formulaire de modification d'un animal</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form role="form" action="{% url 'updateType' type.id %}" method="post" autocomplete="off">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Libellé type animal</label>
                            <input type="text" class="form-control" name="libelleType" value="{{ type.libelleType }}" id="libelleType" placeholder="Chien">
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Enrégistrer</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- data table -->
        <div class="col-6">


            <div class="card" style="height: calc(100vh - 175px)">
                <div class="card-header">
                    <h3 class="card-title">Liste type animal</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Libellé</th>
                            <th>Option</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for type in types %}
                            <tr>
                                <td>{{ type.libelleType }}</td>
                                <td>
                                       <a href="#" title="Modifier" >
                                           <button class="btn btn-primary" type="submit"><i class="fa fa-pen"></i></button>
                                        </a>
                                        <a href="#" title="supprimer"><button class="btn btn-danger" type="submit" ><i class="fa fa-trash"></i></button></a>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
    <!-- /.card -->
{% endblock %}
{% block script %}
<script>
    $ (function(){
        {% if messages %}
            {% for message in messages %}
                displayToast("{{ message }}", "{{ message.tags }}");
            {% endfor %}
        {% endif %}
    })
</script>
{% endblock %}